<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzy.lib_rssi">

    <application>
        <activity android:name=".WiFiPositionActivity"></activity>
        <activity android:name=".RSSICollectActivity" />

        <receiver
            android:name=".LauncherReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.zzy.receiver.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>