<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzy.lib_rssi">


    <application>
        <receiver android:name=".LauncherReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.zzy.receiver.LAUNCHER"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>